.place__title {
  max-width: 193px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.20;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}