.footer__author {
  width: 100%;
  max-width: 318px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

/* Media Queries */
@media screen and (max-width: 540px) {
  .footer__author {
    font-size: 14px;
    line-height: 17px;
  }
}