.profile__add {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/plus-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  align-self: center;
  border: 2px solid #fff;
  padding: 0;
  transition: opacity .2s linear;
}
.profile__add:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__add {
    width: 100%;
    margin-top: 36px;
    max-width: 282px;
    margin: 0;
  }
}