.profile__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 415px;
  gap: 16px 0;
  margin: 22px 165px 0 0;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .profile__info {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin: 0;
    align-items: center;
    gap: 14px 0;
  }
}